ADSB_DEBUG=false
ADSB_HOST=0.0.0.0
ADSB_PORT=8080
ADSB_DATA_DIR=./data
ADSB_READSB_HOST=127.0.0.1
ADSB_READSB_PORT=30003
ADSB_LED_MATRIX_ROWS=64
ADSB_LED_MATRIX_COLS=128
ADSB_LED_MATRIX_CHAIN=4
ADSB_LED_MATRIX_PARALLEL=1
ADSB_LED_MATRIX_PIXEL_MAPPER=U-mapper
ADSB_LED_MATRIX_ROW_ADDRESS_TYPE=3
ADSB_LED_MATRIX_PWM_BITS=7
ADSB_LED_MATRIX_BRIGHTNESS=70
ADSB_LED_MATRIX_GPIO_SLOWDOWN=4
ADSB_GITHUB_REPO=BChenery/adsbledmatrix
ADSB_MOCK_AIRCRAFT=false
