ADSB_DEBUG=false
ADSB_HOST=0.0.0.0
ADSB_PORT=8080
ADSB_DATA_DIR=./data
ADSB_READSB_HOST=127.0.0.1
ADSB_READSB_PORT=30003
ADSB_LED_MATRIX_ROWS=64
ADSB_LED_MATRIX_COLS=128
ADSB_LED_MATRIX_CHAIN=4
ADSB_LED_MATRIX_PARALLEL=1
ADSB_LED_MATRIX_PIXEL_MAPPER=U-mapper
ADSB_LED_MATRIX_HARDWARE_MAPPING=regular
ADSB_LED_MATRIX_ROW_ADDRESS_TYPE=0
ADSB_LED_MATRIX_BRIGHTNESS=70
ADSB_LED_MATRIX_PWM_BITS=7
ADSB_LED_MATRIX_GPIO_SLOWDOWN=4
# Set to true if the first panel in the chain is at the bottom of the
# physical display instead of the top (upside-down U wiring).
ADSB_LED_MATRIX_FLIP_VERTICAL=false
# Set to BGR if red and blue colors are swapped on the physical LED panels.
ADSB_LED_MATRIX_RGB_SEQUENCE=RGB
ADSB_GITHUB_REPO=BChenery/adsbledmatrix
ADSB_MOCK_AIRCRAFT=false
